*{
  text-align:center;
  font-family:Arial, Helvetica, sans-serif,
}
hr{
  width:90%;
  color:black;
}
.top{
  text-decoration:black;
  
}
header{
  background-color: rgb(204, 204, 204);
}
p{
  color:rgb(0, 0, 0);
}
footer{
  background-color: rgb(204, 204, 204);
}
h2{
  color:rgb(0, 0, 0);
}
.profile-image{
  width:50%;
}
img {
  width:90%;
}
ul{
  display:inline-block;
  border:1px;
  padding:20px; 
}
li{
display: inline-block;
    background: white;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: center;
  }

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ }
